@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
    background-color: #f7f7f7 !important;
}

#space {
    width: 100%;
    height: 1%;
    padding: 1%;
}

li {
    display: inline;
    padding: 0 5px;
}

.navbar-bg-dark {
    background-color: #292929 !important;
    border-color: #292929 !important;
}

.text-color {
    color: white !important;
}

p, h1, h2, h3, a, label {
    font-family: 'Quicksand', sans-serif;
}

.mcfont {
    font-family: MinecraftiaRegular, sans-serif !important;
}

.effect-underline {
    padding-bottom: 3px;
    background: linear-gradient(to left, currentcolor, currentcolor) bottom center no-repeat;
    transition: 0.2s;
    background-size: 0 3px;
}

@media (hover: hover) and (pointer: fine) {
    .effect-underline:hover {
        background-size: 100% 3px;
    }
}

.zoom-in {
    transition: .1s;
}

.zoom-in:hover {
    transform: scale(1.01);
}

.form-control {
    border-color: darkgray !important;
}

.transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}

@media (pointer: fine) {
    .navbar-nav .nav-link {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c !important;
        color: #c9d1d9 !important;
    }

    .navbar-bg-dark {
        background-color: #292929 !important;
        border-color: #292929 !important;
    }

    .card-bg-dark {
        background-color: #292929 !important;
        color: #c9d1d9 !important;
        border: transparent !important;
    }

    .form-control {
        background-color: #252525 !important;
        color: #c9d1d9 !important;
        border-color: darkgrey !important;
    }

    .text-color {
        color: #c9d1d9 !important;
    }

    .footer-color {
        background-color: #292929 !important;;
    }
}

.circles {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: calc(-150px - 40vh);
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 90%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    50% {
        transform: translateY(-60vh) rotate(360deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}