body {
    background-color: #1c1c1c !important;
    color: #c9d1d9 !important;
}

#home {
    width: 100%;
    height: 1%;
    padding: 1%;
}

li {
    display: inline;
    padding: 0 5px;
}

.navbar-bg-dark {
    background-color: #1c1c1c !important;
    border-color: #1c1c1c !important;
}

.card-bg-dark {
    background-color: #292929 !important;
    color: #c9d1d9 !important;
    border: transparent !important;
}

.form-control {
    background-color: #252525 !important;
    color: #c9d1d9 !important;
}

p, h1, h2, h3, a {
    font-family: Quicksand, sans-serif !important;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
}

.card-loader {
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .08), 0 -1px 3px 0 rgba(0, 0, 0, 0.06);
    padding: 8px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
    height: 200px;
    overflow: hidden;

&
:only-child {
    margin-top: 0;
}

&
:before {
    content: '';
    height: 110px;
    display: block;
    background-color: #ededed;
    box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
}

&
:after {
    content: '';
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
}

}

@keyframes loader-animate {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}